[submodule "Pulsar/vendor/spdlog"]
	path = Pulsar/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pulsar/vendor/GLFW"]
	path = Pulsar/vendor/GLFW
	url = https://github.com/Md7tz/glfw
